/* Tiled faded grid background*/

.grid-wrapper {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000033;
  z-index: -1;
}

.grid-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(to right, rgba(255, 26, 179, 0.15) 3px, transparent 3px),
    linear-gradient(to bottom, rgba(255, 26, 179, 0.15) 3px, transparent 3px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}

  /* Widen the gallery window */
#gallery {
  max-width: 900px;
}
